#contact{
    max-width: 100vw;
}
#contact-content{ 
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 3rem 0 2rem 0;
}
/* #contact-content{ 
    display: grid;
    grid-template-columns: 1fr .125fr 1fr;
    justify-content: center;
    width:100vw;
    margin: 3rem 0 2rem 0;
} */
#form-side, #media-side{
    min-width: 45%;
    max-width: 100%;
}

.H1-contact-sides{
    margin-bottom: 2rem;
}
/* --------------------FORM SIDE------------------------------- */

#separator{
    display: flex;
    align-items: center;
    font-size: 1.65rem;
}

#form{
    max-width: 60%;
    padding: 15px;
    background-color: #bdad8e;
    border-radius: 10px;
}
#name, #email, #subject, #message,#submit{
    font-size: 1.4rem;
    padding: .7rem;
}
#name, #email, #subject, #message{
    padding-left: 1rem;
    width: 100%;

    border:none;
    border-radius: 5px;
    color:var(--primary_color);
    font-weight: bold;
}
#name, #email, #subject{
    height: 45px
}
#message {
    padding-top: 1rem;
}

#submit{
    border:none;

    width: 80%;
    height: 4rem;

    font-weight: bold;
    font-size: 1.8rem;

    opacity: .8;

    border-radius: 1rem;
    background-color: var(--primary_color);
    color:var(--color_font_secondary);
    transition: .35s linear;
}
#submit:hover{
    opacity: 1;
    width: 100%;
    height: 4.2rem;

    transform: scale(1.08);
    transition: .25s linear;
}

/* -------------------------MEDIA SIDE------------------------------------------ */
#medias-list{
    width: 70%;
    height: 70%;

    display: flex;
    flex-direction: column;
    text-align: center;
}
#medias-list > li {
    border: 1px solid var(--primary_color);
    padding: 10px;
    opacity: .7;
    width: 50%;
    height: 6rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
}
#medias-list > li > img{
    opacity: 1;
    width: 40px;
    height: 40px;
}
#medias-list > li > a {
    text-align: start;
    text-decoration: none;
    color: var(--primary_color);
    font-weight: bold;
    font-size: 2.2rem;
}

#medias-list > li:hover{
    opacity: 1;
    transform: scale(1.1);
}
