footer{
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 2.2rem;
    color: var(--color_font_secondary);
}
footer > span{
    padding-right: 3rem;
    padding-left: 2rem;
}
footer > span > img {
    max-width: 80px;
    height: 80px;
}